@main-bg-color: #EBA8B1FF;
@second-bg-color: #FFEFEFFF;
@main-decoration-color: #821328FF;

@light-text: #FFFFFFFF;
@dark-text: #331907FF;
@present-block-main-color: #770A1DFF;
@present-block-second-color: #FEEFEEFF;

@menu-item-color: #770B1DFF;