@font-face {
  font-family: "Tavolga";
  src: url("../../assets/fonts/Tavolga-Free.otf");
}

@font-face {
  font-family: "GilroyRegular";
  src: url("../../assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "GilroyMedium";
  src: url("../../assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "GilroyBold";
  src: url("../../assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../../assets/fonts/Gilroy-ExtraBold.ttf");
}