* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Tavolga", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.button {
  font-family: "GilroyBold", sans-serif;
  font-size: 18px;
  color: @light-text;
  border: none;
  background: linear-gradient(90deg, #71081EFF 0%, #D7485CFF 100%);
  border-radius: 30px;
  cursor: pointer;
  transition: box-shadow 0.3s linear;
  position: relative;
  z-index: 20;
  &:hover {
    box-shadow: 0 5px 9px 1px #8213287F;
  }
}

@import "fonts";
@import "colors";