@main-bg-color: #ED9FAAFF;
@second-bg-color: #FECBBFFF;
@main-decoration-color: #6C1122FF;

@light-text: #FFF5E5FF;
@dark-text: #0C0602FF;
@present-block-main-color: #9A0C24FF;
@present-block-second-color: #D8C6C5FF;

@menu-item-color: #42040EFF;